@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Desafio da DIO um App de Tarefas diárias </p>
    <p>Com objetivo de CRUD e algumas seleções</p>
    <p>Espero que gostem ! Até próximo desafio</p>
</div>
